# User-specific files
*.user
*.userosscache
*.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.sln.docstate

# Local database files
*.db
*.db-shm
*.db-wal

# Rider
.idea/
*.sln.iml

# Mac
.DS_Store

# Windows thumbnail cache
Thumbs.db